cffi==1.17.1 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation == "PyPy"
nuitka==2.4.11 ; python_version >= "3.12" and python_version < "3.13"
ordered-set==4.1.0 ; python_version >= "3.12" and python_version < "3.13"
psycopg-binary==3.2.3 ; implementation_name != "pypy" and python_version >= "3.12" and python_version < "3.13"
psycopg[binary]==3.2.3 ; python_version >= "3.12" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.12" and python_version < "3.13" and platform_python_implementation == "PyPy"
pyside6-addons==6.8.0.1 ; python_version >= "3.12" and python_version < "3.13"
pyside6-essentials==6.8.0.1 ; python_version >= "3.12" and python_version < "3.13"
pyside6==6.8.0.1 ; python_version >= "3.12" and python_version < "3.13"
shiboken6==6.8.0.1 ; python_version >= "3.12" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.2 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
zstandard==0.23.0 ; python_version >= "3.12" and python_version < "3.13"
